@import url('https://fonts.googleapis.com/css?family=Sriracha');
body {
    font-family: 'Sriracha', cursive;
}
.btn-title2 a {
    padding: 12px;
    background: #ff884c;
    color: #FFF;
    text-decoration: none;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    border-bottom: 9px #ff6619 solid;
    /* letter-spacing: 0.5px; */
    border-radius: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.text-title {
    position: absolute;
    /*border-style: dashed;*/
    height: auto;
    font-size: 40px;
    text-align: center;
    padding: 1%;
    margin-top: 6%;
    /*border-style: dashed;*/
}
.tittle-pig {
    /*background-image: url(./img/tittle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 52%;*/
    background-image: url(./img/tittle.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 64%;
    /*position: relative;*/
}
.btn-title a {
  padding: 7px 16px;
  background: #1480E2;
  color: #FFF;
  text-decoration: none;
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  border-bottom: 9px #0871d0 solid;
  /* letter-spacing: 0.5px; */
  border-radius: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.btn-title {
        padding-top: 4%;
}
.bar-color {
  background-color: #ffffff;
    border-color: #ffffff;
    -webkit-box-shadow: 3px 6px 17px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 17px -4px rgba(0,0,0,0.75);
box-shadow: 14px 1px 17px -4px rgba(0,0,0,0.75);
}
.setsize {
  /*border-style: dashed;*/
margin-top: -8px;
}
.img-center {margin:0 auto;}
.text-sub {
  text-align: center;
  /*border-style: dashed;*/
  margin-top: -4%;
  font-size: 24px;
}
.bg2 {
      background-color: #03A9F4;
}
.ribbon {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9400;
    width: 130px;
}

